body {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  font-family: 'Messapia-Bold';
}
/********************************************************************/

/********************************************************************/

********************************************************************/

/********************************************************************/
footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 1.2em;
}
.logo--wrapper {
}
.logo {
  font-family: 'MonteCarlo', cursive;
  font-size: 5em;
  color: var(--red);
}

.cap--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pastry-logo {
  display: flex;
  height: 10em;
}

/********************************************************************/
