.mails {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100em;
  height: 100em;
  bottom: -100em;
  background-color: var(--red);
  /* background: radial-gradient(#DA4D4D 40%, #f19180ea 60%, #DA4D4D 80%) ; */
  border: 15px double var(--white);
  border-radius: 50%;
  z-index: 10;
}
.mails__outer {
  display: flex;
  align-items: center;
  width: 60em;
  height: 60em;
  background-color: var(--white);
  border: 15px double var(--red);
  border-radius: 50%;
}
.rotate {
  animation: rotate-center 10s linear infinite both;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.mails__inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 30;
}
.mail__section {
  position: absolute;
  width: 50%;
  height: 50%;
  transform-origin: 100% 100%;
}

.mail {
  position: absolute;
  width: 15em;
  height: 12em;
  background-color: var(--white);
  top: 10em;
  box-shadow: var(--shadow);
  border-radius: 30px 0 0 0;
  transform: skew(-60deg) rotate(15deg);
  transform-origin: -40% 85%;
}
.mail:hover {
  transform-origin: 0% 75%;
  cursor: pointer;
}
.mail .stamp {
  width: 1.5em;
  height: 2em;
  /* font-family: 0.5em; */
  text-align: center;
  padding: 0.7em 0.2em 0em 0.2em;
  margin-top: 1em;
  margin-left: 12em;

  background-color: var(--white);
  color: var(--black);
  border: 4px dotted var(--black);
}

.mail span {
  color: #888;
  border: 1px solid#888;
  padding: 0.1em;
  background-color: var(--white);
}
.mail .sender {
  position: absolute;
  top: 1em;
  left: 1em;
}
.mail .receiver {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

#mail1,
#mail3,
#mail6,
#mail8,
#mail12 {
  background: linear-gradient(135deg, var(--white) 50%, var(--yellow) 100%);
}
#mail1 > .stamp {
  background-color: #ffffffe0;
}
#mail3 > .stamp,
#mail6 > .stamp,
#mail8 > .stamp,
#mail12 > .stamp {
  background-color: var(--yellow);
}
#mail2,
#mail4,
#mail5,
#mail7,
#mail9,
#mail10,
#mail11 {
  background: linear-gradient(135deg, var(--white) 50%, var(--blue) 100%);
}
#mail2 > .stamp,
#mail4 > .stamp,
#mail5 > .stamp,
#mail7 > .stamp,
#mail9 > .stamp,
#mail10 > .stamp,
#mail11 > .stamp {
  background-color: var(--blue);
}
