.main {
  position: absolute;
  top: 7em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  /* margin: 1em; */
  padding: 0.5em;
  /* border: 1px solid red; */
}
.main__text {
  width: 100%;
}
.main__text--title {
  display: flex;
  align-items: center;
  height: 5em;
  font-size: 1.5em;
}
.main__text--writer {
  height: 5em;
  display: flex;
  flex-direction: column;
}
.writer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1em 1em 1em 0;
}
.writer__name {
  font-family: 'SUIT';
}
.writer__address {
  font-family: 'SUIT';
  margin-left: 0.3em;
}
.writer__dear {
  width: 100%;
  color: #888;
}
.main__text--desc {
  font-family: 'SUIT';
  margin: 1.5em 0;
  font-size: 1.2em;
  line-height: 1.5;
}
.main__photo {
  display: grid;
  justify-items: center;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: fit-content;
  margin-bottom: 2em;
  /* border: 1px solid rgb(255, 47, 238); */
  position: relative;
}
.photo {
  position: relative;
  margin: 0.5em;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 15px;
}
.photo__file {
  /* margin: 0.5em; */
  width: 100%;
  height: 10%;
}
.photo__file:hover img {
  box-shadow: 0 3px 15px 8px rgba(255, 85, 7, 0.452);
}
.photo__file > img {
  z-index: 1;
  object-fit: fill;
  width: 100%;
}

.tag {
  visibility: hidden;
  z-index: 99;
  position: absolute;
  padding: 0.5em;
  width: 180%;
  top: 12em;
  left: 2em;
}
.photo3 .tag {
  top: 8em;
  left: -3em;
}
.photo4 .tag {
  top: 14em;
  left: 4em;
}
.photo5 .tag {
  top: 12em;
  left: -12em;
  background-color: var(--white);
  padding: 0 0.5em;
}

.tag__text {
  z-index: 8;
  background-color: var(--white);
  padding: 0.3em;
  line-height: 1.5;
}
.photo:hover .tag {
  visibility: visible;
}

.footer {
  position: absolute !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5em;
  bottom: 0;
  /* background-color: rgba(216, 216, 216, 0.534); */
  color: rgb(71, 71, 71);
  line-height: 1.2;
  /* padding-top: 50em; */
}
