body {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* height: 100vh; */
  font-family: 'Messapia-Bold';
}
/***************************   main   **********************/
.main {
  position: absolute;
  top: 7em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  /* height: fit-content; */
  /* margin: 1em; */
  padding: 0.5em;
  /* border: 1px solid red; */
}
.main__text {
  width: 100%;
}
/***************************   main-writer   **********************/
.main__text--title {
  display: flex;
  align-items: center;
  height: 5em;
  font-size: 1.5em;
}
.main__text--writer {
  height: 5em;
  display: flex;
  flex-direction: column;
}
.writer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 1em 1em 1em 0;
  font-family: 'SUIT';
}
.caller {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: flex-start;
  /* border: 1px solid red; */
}
.time {
  color: #888;
  text-align: center;
}
.time .bi {
  font-size: 1em;
  margin-left: 1em;
}
.time .bi:hover {
  cursor: pointer;
}
.time .bi-envelope {
  margin-right: 0.5em;
}
.time .bi-envelope:hover {
  cursor: unset;
}
.writer__address {
  font-family: 'SUIT';
  margin-left: 0.3em;
}
.writer__dear {
  width: 100%;
  color: #888;
}
/***************************   main-text   **********************/
.main__text--desc {
  font-family: 'SUIT';
  margin: 1.5em 0;
  font-size: 1.2em;
  line-height: 1.5;
}
.highlight1:hover {
  cursor: pointer;
  background: linear-gradient(#fff 0%, #e6fd19 100%);
}
.highlight2:hover {
  cursor: pointer;
  background: linear-gradient(#fff 0%, #39c9928a 100%);
}
.highlight3:hover {
  cursor: pointer;
  background: linear-gradient(#fff 0%, #e608fa8a 100%);
}
/***************************   main-reference   **********************/
.ref {
  position: absolute;
  top: 15em;
  left: 50em;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 40%;
  gap: 20px;
  height: fit-content;
  font-family: 'SUIT';
  font-size: 0.8em;
  box-shadow: 15px 5px 15px 2px rgba(131, 169, 170, 0.089);
  border: 1px solid rgba(170, 169, 169, 0.411);
}
.switch {
  visibility: hidden;
}
.ref__movie {
  position: relative;
  margin: 0.5em;
}
.ref__movie span {
  background-color: #feffeb;
  padding: 0.2em;
  line-height: 1.5;
  border: 1px solid #666;
}

.ref__movie img {
  width: 100%;
  height: 90%;
}
/***************************   photo   **********************/
.main__photo {
  display: grid;
  /* justify-items: center; */
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 35%;
  height: 100em;

  margin-bottom: 2em;
  /* border: 1px solid rgb(255, 47, 238); */
}
.photo {
  position: relative;
  /* margin: 0.5em; */
  /* background-color: rgb(255, 255, 255); */
  /* border-radius: 15px; */
}
.photo__file {
  position: relative;
  /* margin: 0.5em; */
  width: 100%;
  height: 10%;
}
.photo__file > img {
  z-index: 1;
  object-fit: fill;
  width: 100%;
}
.photo__file > img:hover {
  box-shadow: 0 3px 15px 8px rgba(255, 85, 7, 0.452);
}
/***************************   photo-tag  **********************/
.tag {
  visibility: hidden;
  z-index: 99;
  position: absolute;
  padding: 0.5em;
  width: 180%;
  height: fit-content;
  top: 12em;
  left: 2em;
}
.photo3 .tag {
  top: 8em;
  left: -3em;
}
.photo4 .tag {
  top: 14em;
  left: 4em;
}
.photo5 .tag {
  top: 12em;
  left: -12em;
  width: 200%;
}

.tag__text {
  z-index: 8;
  background-color: var(--white);
  padding: 0.3em;
  line-height: 1.5;
}
.photo:hover .tag {
  visibility: visible;
}
.photo:hover .ref__src {
  position: absolute;
  top: 0em;
  font-family: 'SUIT';
  font-size: 0.8em;
  /* background-color: var(--white); */
  color: var(--black);
  background-color: rgba(255, 255, 255, 0.801);
}
/***************************   footer   **********************/
.footer {
  /* z-index: 88; */
  border: 3px solid magenta;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8em;
  bottom: 5em;
  /* background-color: rgba(216, 216, 216, 0.534); */
  color: rgb(71, 71, 71);
  line-height: 1.2;
  padding-top: 505em;
}
